:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    width: 70%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    transition: 300ms ease;
}

.hl {
    color: var(--base);
    transition: 300ms ease;
}

body {
    text-align: center;
    background: #193549;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: white;
}

.controls {
    margin-bottom: 50px;
}

.img-container {
    width: 100%;
}